<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include googleanalytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/ypaasa">YPAASA</a></li>
	        		<li><a href="http://socalypaa.org/merch">Registration</a></li>
	        		<li><a href="/events">Events</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:socalypaa@gmail.com">email</a></li>
	        		
				</ul>
			</footer>
		</body>
	</html>
